<!DOCTYPE html>
<html>
    <head>
        <title>Viet GEMINI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0" >
        <link rel="stylesheet" href="./static/style.css">
        <link rel="stylesheet" href="./static/login.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="./static/themify-icons/themify-icons.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="./static/images/chatbot.png">
    </head>
    
        {% block content %}

        {% endblock %}
    
</html>